<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Ronen Abravanel's page</a>
  </div>

  </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
            
            <li class="{{ home_active }}"> <a href="index.html">Home</a> </li>
            <li class="{{ projects_active }}"> <a href="projects.html">Projects</a> </li>
            <li class="dropdown {{ notes_active }}"> 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lecture notes 
                    <b class="caret"></b></a>  
                <ul class="dropdown-menu">
                      <li><a href="lecture_notes.html"> Lecture notes</a></li>
                      <li><a href="recitation_notes.html">Recitation notes</a></li>
                      <!--<li><a href="#">summeries.html</a></li>-->
                </ul>        
            
            </li>
            <li class="{{ publications_active }}"> <a href="publications.html"> Publications </a> </li>
            <li> <a class="tooltipping" href="http://aprettiershell.gadial.net/" data-toggle="tooltip" data-placement="bottom" title="Blog, In Hebrew">A Prettier Shell</a> </li>
        </ul>
        
    </div>
</nav>